<!-- <h2 mat-dialog-title class="dialog-title">Add Item</h2>
<mat-dialog-content class="dialog-content">
  <form [formGroup]="itemForm" (ngSubmit)="addItem()">
    <mat-form-field class="form-field">
      <mat-label>Article</mat-label>
      <input type="text" matInput [formControl]="productCtrl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onProductSelected($event)">
        <mat-option *ngFor="let product of filteredProducts | async" [value]="product.name">
          {{ product.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
    <mat-form-field class="form-field">
      <mat-label>Quantité</mat-label>
      <input type="number" matInput formControlName="Qte">
    </mat-form-field>
    <br>
    <mat-dialog-actions class="dialog-actions">
        <button mat-button type="submit" mat-dialog-close class="dialog-button">Add Item</button>
      </mat-dialog-actions>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close class="dialog-button">Cancel</button>
</mat-dialog-actions> -->
