<!-- navbar -->
<header
  class="d-flex flex-row align-items-center justify-content-between bg-white border-bottom fixed-top shadow-sm px-3"
>
  <div class="d-flex align-items-center">
    <div class="dropdown">
      <button
        class="btn btn-menu"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa fa-bars fa-lg"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <!-- Catégorie 1 -->
        <li class="dropdown-submenu">
          <a class="dropdown-item d-flex align-items-center" href="#"
            >Catégorie 1</a
          >
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Famille 1-1</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Type 1-1-1</a></li>
                <li><a class="dropdown-item" href="#">Type 1-1-2</a></li>
                <li><a class="dropdown-item" href="#">Type 1-1-3</a></li>
                <li><a class="dropdown-item" href="#">Type 1-1-4</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Famille 1-2</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Type 1-2-1</a></li>
                <li><a class="dropdown-item" href="#">Type 1-2-2</a></li>
                <li><a class="dropdown-item" href="#">Type 1-2-3</a></li>
                <li><a class="dropdown-item" href="#">Type 1-2-4</a></li>
              </ul>
            </li>
            <!-- More families for Catégorie 1 -->
          </ul>
        </li>

        <!-- Catégorie 2 -->
        <li class="dropdown-submenu">
          <a class="dropdown-item d-flex align-items-center" href="#"
            >Catégorie 2</a
          >
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Famille 2-1</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Type 2-1-1</a></li>
                <li><a class="dropdown-item" href="#">Type 2-1-2</a></li>
                <li><a class="dropdown-item" href="#">Type 2-1-3</a></li>
                <li><a class="dropdown-item" href="#">Type 2-1-4</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Famille 2-2</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Type 2-2-1</a></li>
                <li><a class="dropdown-item" href="#">Type 2-2-2</a></li>
                <li><a class="dropdown-item" href="#">Type 2-2-3</a></li>
                <li><a class="dropdown-item" href="#">Type 2-2-4</a></li>
              </ul>
            </li>
            <!-- More families for Catégorie 2 -->
          </ul>
        </li>

        <!-- Catégorie 3 -->
        <li class="dropdown-submenu">
          <a class="dropdown-item d-flex align-items-center" href="#"
            >Catégorie 3</a
          >
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Famille 3-1</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Type 3-1-1</a></li>
                <li><a class="dropdown-item" href="#">Type 3-1-2</a></li>
                <li><a class="dropdown-item" href="#">Type 3-1-3</a></li>
                <li><a class="dropdown-item" href="#">Type 3-1-4</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Famille 3-2</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Type 3-2-1</a></li>
                <li><a class="dropdown-item" href="#">Type 3-2-2</a></li>
                <li><a class="dropdown-item" href="#">Type 3-2-3</a></li>
                <li><a class="dropdown-item" href="#">Type 3-2-4</a></li>
              </ul>
            </li>
            <!-- More families for Catégorie 3 -->
          </ul>
        </li>

        <!-- Catégorie 4 -->
        <li class="dropdown-submenu">
          <a class="dropdown-item d-flex align-items-center" href="#"
            >Catégorie 4</a
          >
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Famille 4-1</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Type 4-1-1</a></li>
                <li><a class="dropdown-item" href="#">Type 4-1-2</a></li>
                <li><a class="dropdown-item" href="#">Type 4-1-3</a></li>
                <li><a class="dropdown-item" href="#">Type 4-1-4</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Famille 4-2</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Type 4-2-1</a></li>
                <li><a class="dropdown-item" href="#">Type 4-2-2</a></li>
                <li><a class="dropdown-item" href="#">Type 4-2-3</a></li>
                <li><a class="dropdown-item" href="#">Type 4-2-4</a></li>
              </ul>
            </li>
            <!-- More families for Catégorie 4 -->
          </ul>
        </li>

        <!-- Catégorie 5 -->
        <li class="dropdown-submenu">
          <a class="dropdown-item d-flex align-items-center" href="#"
            >Catégorie 5</a
          >
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Famille 5-1</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Type 5-1-1</a></li>
                <li><a class="dropdown-item" href="#">Type 5-1-2</a></li>
                <li><a class="dropdown-item" href="#">Type 5-1-3</a></li>
                <li><a class="dropdown-item" href="#">Type 5-1-4</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="#">Famille 5-2</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Type 5-2-1</a></li>
                <li><a class="dropdown-item" href="#">Type 5-2-2</a></li>
                <li><a class="dropdown-item" href="#">Type 5-2-3</a></li>
                <li><a class="dropdown-item" href="#">Type 5-2-4</a></li>
              </ul>
            </li>
            <!-- More families for Catégorie 5 -->
          </ul>
        </li>
      </ul>
    </div>
    <img
      src="/assets/images/logo1.png"
      alt="logo"
      class="logo ms-2"
      routerLink="/"
    />
    <div class="search-container d-flex align-items-center ms-3">
      <input
        type="text"
        class="form-control"
        placeholder="Cherchez un produit, une marque ou une catégorie"
      />
      <button class="btn btn-search">RECHERCHER</button>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <a routerLink="/cart" class="d-flex align-items-center me-3">
      <i class="fa fa-shopping-cart fa-lg text-dark"></i> Panier
    </a>
    <div class="dropdown me-3">
      <a
        class="d-flex align-items-center"
        id="dropdownLoginButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa fa-user fa-lg text-dark"></i>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="dropdownLoginButton"
      >
        <li>
          <a routerLink="/account/login" class="dropdown-item">Connexion</a>
        </li>
        <li>
          <a routerLink="/account/register" class="dropdown-item"
            >Inscription</a
          >
        </li>
      </ul>
    </div>
    <a routerLink="/help" class="d-flex align-items-center me-3">
      <i class="fa fa-question-circle fa-lg text-dark"></i> Aide
    </a>
    <a routerLink="/about" class="d-flex align-items-center me-3">
      <i class="fa fa-info-circle fa-lg text-dark"></i> À propos
    </a>
  </div>
</header>
 
<!-- carousel -->
<section class="carousel">
  <div class="carousel-container">
    <carousel [isAnimated]="true">
      <slide>
        <img
          src="assets/images/photo1.jpg"
          alt="slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="assets/images/photo2.jpg"
          alt="slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="assets/images/photo3.jpg"
          alt="slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
    <section class="featured">
      <div class="d-flex justify-content-center pt-4 text-light">
        <h1>Pour une agriculture maitrisée, intellegente et rentable</h1>
      </div>
      <button class="shop-now-button">A propos</button>
    </section>
  </div>
</section>
<section class="contact-banner">
  <div class="contact-details">
    <div class="contact-item">
      <a
        href=""
        class="position-relative fs-5 me-5 text-light"
        routerLinkActive="active"
      >
        <i class="fa fa-envelope fa-lg text-light"></i> contact.com
      </a>
    </div>
    <div class="contact-item">
      <a
        href="whatsapp://send?phone=+21623484380"
        class="position-relative fs-5 me-5 text-light"
        routerLinkActive="active"
      >
        <i class="fa fa-whatsapp fa-lg text-light"></i>54 414 782
      </a>
    </div>
  </div>
</section>

<!-- acceuil -->
<section class="about-section">
  <div class="about-container">
    <!-- Image and Basic Info -->
    <div class="about-image">
      <img src="assets/images/image1.jpg" alt="" />
      <div class="about-info">
        <h2></h2>
        <p>
          La société est spécialisée dans la
          <strong>vente et la distribution</strong> de différents produits et
          matériels d'agriculture ainsi que la fourniture de tous types de
          <strong>services agricoles</strong> de l'<strong
            >étude à l'assistance technique</strong
          >
          pour assurer un service clé en main aux investisseurs.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- categories -->
<section class="featured-products">
  <h2>Categories</h2>
  <div class="products-grid">
    <div class="product-item">
      <img
        src="assets/images/categorie1.jpg"
        alt="Product 1"
        class="product-image"
      />
      <p class="text text-uppercase">Matériels agricole</p>
      <p></p>
    </div>
    <div class="product-item">
      <img
        src="assets/images/categorie2.jpg"
        alt="Product 2"
        class="product-image"
      />
      <p class="text text-uppercase">Fertilisation</p>
      <p></p>
    </div>
    <div class="product-item">
      <img
        src="assets/images/categorie3.jpg"
        alt="Product 3"
        class="product-image"
      />
      <p class="text text-uppercase">Irrigation</p>
      <p></p>
    </div>
    <div class="product-item">
      <img
        src="assets/images/categorie4.jpg"
        alt="Product 4"
        class="product-image"
      />
      <p class="text text-uppercase">Matériels de Fertilisation</p>
      <p></p>
    </div>
  </div>
  <button class="shop-all-button">Voir tous les produits</button>
</section>

<!-- footer -->
<footer class="footer bg-dark text-light py-5">
  <div class="container">
    <!-- Subscription Section -->
    <div class="row mb-4">
      <div class="col text-center">
        <h4>Stay in touch with us</h4>
        <p>Receive the latest updates about our products & promotions</p>
        <form class="d-flex justify-content-center">
          <input
            type="email"
            class="form-control w-50"
            placeholder="Your email"
          />
          <button type="submit" class="btn btn-danger ms-2">Subscribe</button>
        </form>
      </div>
    </div>

    <hr />

    <!-- Footer Content -->
    <div class="row text-center text-md-start">
      <!-- Company Info -->
      <div class="col-md-3 mb-4">
        <h5></h5>
        <p>
          With a wide selection of Electronics, Brands, and household
          essentials, we've got everything you need just a click away.
        </p>
        <div class="d-flex justify-content-center justify-content-md-start">
          <a href="#" class="text-light me-3"
            ><i class="fab fa-instagram fa-lg"></i
          ></a>
          <a href="#" class="text-light me-3"
            ><i class="fab fa-facebook fa-lg"></i
          ></a>
          <a href="#" class="text-light me-3"
            ><i class="fab fa-telegram fa-lg"></i
          ></a>
          <a href="#" class="text-light"
            ><i class="fab fa-whatsapp fa-lg"></i
          ></a>
        </div>
      </div>

      <!-- Categories -->
      <div class="col-md-2 mb-4">
        <h5>Categories</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Weekly sale</a></li>
          <li><a href="#" class="text-light">Special price</a></li>
          <li><a href="#" class="text-light">Electronics</a></li>
          <li><a href="#" class="text-light">Clothing</a></li>
          <li><a href="#" class="text-light">Furniture</a></li>
          <li><a href="#" class="text-light">Brands</a></li>
        </ul>
      </div>

      <!-- Company -->
      <div class="col-md-2 mb-4">
        <h5>Company</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Blog and news</a></li>
          <li><a href="#" class="text-light">About us</a></li>
          <li><a href="#" class="text-light">FAQ page</a></li>
          <li><a href="#" class="text-light">Contact us</a></li>
          <li><a href="#" class="text-light">Careers</a></li>
        </ul>
      </div>

      <!-- Account -->
      <div class="col-md-2 mb-4">
        <h5>Account</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Your account</a></li>
          <li><a href="#" class="text-light">Shipping & policies</a></li>
          <li><a href="#" class="text-light">Refunds & replacements</a></li>
          <li><a href="#" class="text-light">Order tracking</a></li>
          <li><a href="#" class="text-light">Delivery info</a></li>
          <li><a href="#" class="text-light">Taxes & fees</a></li>
        </ul>
      </div>

      <!-- Customer Service -->
      <div class="col-md-3 mb-4">
        <h5>Customer Service</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Payment methods</a></li>
          <li><a href="#" class="text-light">Money back guarantee</a></li>
          <li><a href="#" class="text-light">Refunds & replacements</a></li>
          <li><a href="#" class="text-light">Order tracking</a></li>
          <li><a href="#" class="text-light">Delivery info</a></li>
          <li><a href="#" class="text-light">Shipping</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
